doctype html
html(lang="en")
  head
    title="Magical Bedroom Products"
    link(href='/css/beds.css', rel='stylesheet')
  body
    h1 Magical Bedroom Products
    div.bed-containers
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/scripts/bundle.js")
